<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>es</string>
	<key>CFBundleDisplayName</key>
	<string>FERNÉ</string>
	<key>CFBundleName</key>
	<string>FERNE</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>NSFaceIDUsageDescription</key>
	<string>FERNÉ puede pedir Face ID para proteger tus notas y tu día.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Para mostrar tus eventos junto a tu agenda de FERNÉ. Es opcional.</string>
	<key>UIAppFonts</key>
	<array>
		<string>LibreCaslonText-Regular.ttf</string>
		<string>LibreCaslonText-Bold.ttf</string>
		<string>HankenGrotesk-Regular.ttf</string>
		<string>HankenGrotesk-Medium.ttf</string>
		<string>HankenGrotesk-SemiBold.ttf</string>
		<string>HankenGrotesk-Bold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
