--swiftversion 6.0
--indent 4
--maxwidth 140
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--closingparen balanced
--trimwhitespace always
--stripunusedargs closure-only
--self remove
--importgrouping testable-bottom
--exclude .build,DerivedData,FERNE.xcodeproj
